---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% assign first_author_pubs = site.publications | where_exp: "post", "post.first_author == true" | sort: "title" | sort: "date" | reverse %}
{% assign other_pubs = site.publications | where_exp: "post", "post.first_author != true" | sort: "title" | sort: "date" | reverse %}

{% if first_author_pubs.size > 0 %}
  <h2>First-author publications</h2><hr />
  {% for post in first_author_pubs %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in other_pubs %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in other_pubs %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
